
body ul,ol {list-style-type: none;}
a {text-decoration: none;}
button {cursor: pointer;}
body {font-family: "Roboto", sans-serif; 
background-color: #FFFFFF; color: #434455;}
h1, h2, h3, h4, h5, h6, p {
        margin: 0;

}
ul, ol {
        margin: 0;
        padding: 0;
}
img {
        display: block;
        max-width: 100%;
        height: auto;
}

picture {
    max-width: 100%;
    flex-shrink: 0;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    height: 56px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-header,.address-heder {
    display: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-header {
    padding: 16px 0;
    display: block;
}

.logo-span {
    color: #2e2f42;
}

.burger-btn {
    border: none;
    padding: 0;
    background-color: transparent;

}
.burger-icon {
    display: block;
    fill: #2f2f37;

}
@media screen and (min-width: 768px) {
    .page-header {
        height: 72px;
    }

    .burger-btn {
        display: none;
    }
    .menu-header {
        display: flex;
        align-items: center;
        gap: 40px;
}
.address-heder {
    font-style: normal;
    display: block;
}
.nav-header {
    display: flex;
    align-items: center;
}
.logo-header {
    padding: 24px 0;
    margin-right: 120px;
}
.menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current {
    position: relative;
}
.menu-link.current::after {
    content: "";
    position:absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}
.menu-link.current {color: #404bbf;}
.menu-link:hover {color: #404bbf;}
.menu-link:focus {color: #404bbf;}
.menu-link:active {color: #404bbf;}
.address-heder {
        font-style: normal;
        margin-left: auto;

}
.address-list {
    display: flex;
        flex-direction: column;
        gap: 12px;
}
.address-heder-link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-heder-link:hover {
    color: #404bbf;
}
}

@media screen and (min-width: 1158px) {
    .container.header-container {
        max-width: 1158px;
    }

    .logo-header {
        margin-right: 76px;
}
.address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.address-heder-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
}
/* #endregion header */

/* #region backdrop-modal */
.mobile-menu
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 99999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
.mobile-menu-container {
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;

}
.mobile-menu-clos {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 100%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    fill: #2e2f42;
    background-color: transparent;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-menu-nav {
    margin-bottom: auto;
}
.mobile-menu-link {
    font: 700 36px / 1.11 "Roboto", sans-serif;
letter-spacing: 0.02em;
color: #2e2f42;

}
.mobile-menu-link.current {
    position: relative;
}

.mobile-menu-link.current {color: #404bbf;}
.mobile-menu-link:hover {color: #404bbf;}
.mobile-menu-link:focus {color: #404bbf;}
.mobile-menu-link:active {color: #404bbf;}


.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.address-mobile-list {
    display: flex;
        flex-direction: column;
        gap: 24px;
        margin-bottom: 48px;
}
.address-mobile-link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;
}

.address-mobile-link:hover {
    color: #404bbf;
}
.mobile-list-icon {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    width: 280px;

}

.mobile-icon {
        width: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-item-icon {
    width: 40px;
    height: 40px;
}


@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
}
/* #endregion backdrop-modal */
/* #region section hero */

.hero {
    background-color: #2e2f42;
    padding: 72px 0 72px ;
    height: 432px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-mobile.jpg");
    max-width: 320px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
}
.hero-title {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin-bottom: 72px;
    max-width: 216px;
    margin-right: auto;
    margin-left: auto;

} 

.hero-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button {
    font-family: "Roboto",sans-serif;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus
{background-color: #404bbf;}

@media screen and (min-width: 768px){
    .hero {
        padding: 112px 0 112px ;
        height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/dark-bg-tablet.jpg");
        max-width: 768px;
}
.hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
}
}

@media screen and (min-width: 1158px) {
    .hero {
        padding: 188px 0 188px ;
        height: 600px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/people-office.jpg");
        max-width: 1440px;

}
.hero-title {
    margin-bottom: 48px;
    line-height: 1.07;
    margin-bottom: 48px;
}
}
/* #endregion section hero */
/* #region section1 */
.icon {display: none;}
.main-section {
    padding: 96px 0 96px;
}

.main-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;

}
.main-title {
    position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            border: 0;
            padding: 0;
            white-space: nowrap;
            clip-path: inset(100%);
            clip: rect(0 0 0 0);
            overflow: hidden;
}

.main-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 72px;
}
.main-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .main-item {
        column-gap: 24px;
        row-gap:72px;
    }
    .menu-main { 
        flex-direction: row;
        flex-basis: calc((100% - 24px) / 2)
}
.main-subtitle {
    text-align: left;
}
}

@media screen and (min-width: 1158px) {
    .container.main-container {
        max-width: 1158px;
    }
    .main-section {
        padding: 120px 0 120px;
        min-width: 1158px;
}
.icon {
    display: flex;
}
.main-item {
    gap: 24px;
}
.menu-main {
    flex-basis: calc((100% - 3 * 24px) / 4)
}
.main-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}
.main-text {
    font-weight: 400;
}

.main-div {
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}
.main-div {
    display: flex;
    align-items: center;
    justify-content: center;
}
}
/* #endregion section1 */

/* #region section2 */
.section-team {
    background-color: #f4f4fd;
    padding: 96px 28px 96px;
}

.item-team {
    display: flex;
        gap: 70px;
        flex-wrap: wrap;
        justify-content: center;
}

.img-team {background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.div-team {
    padding: 32px 16px;
}
.title-team {
    display: flex;
    justify-content: center;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}
.team-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}
.team-list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-item-icon {
    width: 40px;
    height: 40px;
}

.item-icon {
    width: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-icon:hover {background-color: #404bbf;}
.item-icon:focus {background-color: #404bbf;}

.social-network-icon {
    fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
    .container.team-container {
        max-width: 768px;
    }
    .title-team {
        display: flex;
        justify-content: center;
    }
    .section-team {
        padding: 0px  92px;
}

.item-team {
    column-gap: 24px;
    row-gap:64px;
}
}

@media screen and (min-width: 1158px) {
    .container.team-container {
        max-width: 1158px;
    }

    .section-team {
        padding: 120px 0 120px;
}

.item-team {
    gap: 24px;
}
}
 /* #endregion section2 */

/* #region section3 */
.section-portfolio {
    padding: 96px 0 96px;}

.title-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.item-portfolio {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    }


.menu-portfolio {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}
.menu-portfolio:hover .active-title-portfolio {
    transform: translate(0);
}

.menu-portfolio-active {
    position: relative;
    overflow: hidden;
}

.active-title-portfolio {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.div-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.subtitle-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}
.desc-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 768px) {
    
    .item-portfolio {
        flex-direction: row;
        column-gap: 24px;
        row-gap:72px;
        }
    .menu-portfolio {
        flex-basis: calc((100% - 24px) / 2);
        }
}

@media screen and (min-width: 1158px) {
    .container.portfolio-container {
        max-width: 1158px;
    }
    .section-portfolio {
        padding: 120px 0 120px;
    }
    .item-portfolio {
        row-gap:48px;
        }
    .menu-portfolio {
        flex-basis: calc((100%  - 48px) / 3);
        }
    .menu-portfolio {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    .menu-portfolio:hover {
        box-shadow: 
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    }
    .menu-portfolio:hover .active-title-portfolio {
        transform: translate(0);
        }
    .menu-portfolio-active {
        position: relative;
        overflow: hidden;
    }
}
/* #endregion section3 */

/* #region footer */
.container.div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 72px;
}

.footer-section {
    background-color: #2e2f42;
    padding: 96px 0 96px;
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: block;
    margin-bottom: 16px;
    text-align: center;
}

.container-footer-icon{
padding-left: 40px;
padding-right: 40px;
}
.footer-span {color: #f4f4fd;
}
.footer-icon-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    font-weight: 500;
    margin-bottom: 16px;
    text-align: center;}

.team-list-icon.footer {
        gap: 16px;
}
.item-icon.socials:hover,
.item-icon.socials:focus
{
background-color: #31d0aa;
}
.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 288px;
}

.footer-subscribe-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: center;
}

.footer-input {
    width: 283px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-input::placeholder {
    color: #ffffff;;
}

.footer-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 60px;
    margin-right: 60px;
}

.footer-icon {
    margin-left: 16px;
    fill: #fff;
}

@media screen and (min-width: 768px) {
    .footer-section {
        max-width: 768px;
        padding-left: 92px;
}

.container.div {
    align-items: baseline;
    column-gap: 24px;
    row-gap:72px;
}
.footer-form {
    display: flex;
        align-items: baseline;
        flex-direction: row;
}
.footer-input {
    width: 264px;
    height: 40px;
}
.container-footer-icon{
    padding-left: 0px;
    padding-right: 0px;
}
.footer-button {
    margin-top: 0px;
    margin-left: 24px;
    margin-right: 0px;
}
.logo-footer {
    text-align: left;
}
.footer-icon-text {
    text-align: left;
}
.footer-subscribe-text {
    text-align: left;
}
}

@media screen and (min-width: 1158px) {
    .footer-section {
        padding: 100px 0 100px;
        max-width: 1440px;
}

.container-footer {
    margin-right: 120px;
}

.container.div {
    min-width: 1158px;
    margin: 0 auto;
    gap: 0;
}

.container-footer-subscribe {
    margin-left: 80px;
}
.text-footer {
    width: 264px;
    height: 112px;
}
}

/* #endregion footer */
/* #region backdrop-modal */

.backdrop {
    position: fixed;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity  250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
    position: absolute;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 288px;
    min-height: 623px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 72px;
    padding-left: 16px;
    padding-bottom: 24px;
    padding-right: 16px;

}
.modal-comment {
    margin-bottom: 16px;
}

.modal-textarea {
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.backdrop.is-open {
    visibility: visible;
    pointer-events: auto;
    opacity: 1
}
.modal-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    fill: #2e2f42;
    background-color: transparent;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal{
    transform: translate(-50%, -100%);
    
}

.close-icon {
    color: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
        background-color: #404bbf;
        border: none;
        fill: #ffffff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
    font: 500 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    width: 256px;
    height: 48px;
    margin-bottom: 16px;
} 

.modal-form-wrapper {
    margin-bottom: 8px;
}

.modal-form-label {
    font: 400 12px / 1.16 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
    line-height: 1.17;
}

.modal-form-input {
    position: relative;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    outline: none;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus,
.modal-input:hover {
        border-color: #4d5ae5;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus+.modal-icon {
    fill: #4d5ae5;
}

.modal-input:hover+.modal-icon {
    fill: #4d5ae5;
}

.modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    padding-top: 8px;
    padding-left: 16px;
    display: block;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.modal-textarea::placeholder {
    font: 400 12px / 1.16 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    resize: none;
    outline: none;
    }

.modal-textarea:hover {
        border-color: #4d5ae5;
}
.modal-textarea:focus {
        border-color: #4d5ae5;
}
.modal-con-checkbox {
    margin-top: 16px;
    margin-bottom: 24px;
}

.custom-label-checkbox {
    cursor:pointer;
    font: 400 12px / 1.16 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    color: #8e8f99;
    line-height: 1.17;
} 

.custom-label-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-span-checkbox {
    flex-shrink: 0;
}

.checkbox-link {
    font: 400 12px / 1.33 "Roboto", sans-serif;
    text-decoration: underline;
    text-decoration-skip-ink: none;                color: #4d5ae5;
}

.custom-span-checkbox {
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.modal-input-checkbox:checked + .custom-label-checkbox > .custom-span-checkbox {
    background-color: transparent;
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}
.svg-checkbox{
    fill:#f4f4fd;
}

.modal-submit {
    font: 500 16px / 1.5 "Roboto", sans-serif;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    text-align: center;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    gap: 10px;
    border: none;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
        min-height: 584px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .modal-text {
        width: 360px;
        height: 24px;
    }
    .modal-textarea {
        width: 360px;
    }
}
/* #endregion backdrop-modal */